<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ("../partials/header.ejs") %>
        <style>
           .skins {
            display: grid;
            grid-template-columns: repeat(3, 1fr); /* Defines 3 columns of equal width */
            grid-gap: 0.5em; /* Optional spacing between items */
            align-items: center;
            }

            .skins > li {
            list-style-type: none;
            text-align: center;
            max-width: 10em;
            padding: .5em;
            font-size: .85em;
            font-style: italic;
            }

            .skins > li > img{
                display: block;
                margin-left: auto;
  margin-right: auto;
            }
            .credits{
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
            }
            @media only screen and (max-width: 900px) {
                .credits{
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
            }
            }
        </style>
    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <% var skinGroups=["Skip", "Misc. User Skins", "Galaxii Kingdom", "Constellation Collection", "Chaotic Troop", "Pax Vesania Collective", "Pride", "DivineChrysalism", "GOOPYGAMER9000", "Era vulgaris", "Skip"] %>
        <div id="wrapper">
            <% if (locals.messages.flash) { %>
                <div class="splash"><%- locals.messages.flash %></div>
            <% } %>
        <section id="authorsystem">
        <h1>The System Behind the Site</h1>
        <p>The website "Lighthouse" is made by <strong><a href="https://pronouns.cc/@LighthouseSystem" title="About The Lighthouse System" target="_blank">The Lighthouse System</a></strong>, with the name coined after us. Lighthouse is not a social website and is not intended for roleplay, socialising, or other public activity. No features for users to share systems, chat, or communicate in any way will be implemented.</p>
    </section>
    <section id="features">
        <h2>Features of Lighthouse</h2>
        <dl>
            <dt>Private and Public Journalling
            <dd>Every alter can create a <strong>private journal</strong> for themselves, and the account itself has a <strong>Communal Journal</strong>. This is to encourage more communication between parts and keep things as closely documented as a system needs. Alters can lock their journals with passwords to make sure other alters can't access their journals.</dd>
            <dt>Copyright</dt>
            <dd><strong>Everything you write on this website is yours, forever.</strong> Lighthouse will not use your journal(s) to promote the website, or display to anyone else. Lighthouse relinquishes copyright of any material written by users on the website.</dd>
        </dl>
    </section>
    <section id="bugs">
        <h2>Found a bug while using Lighthouse?</h2>
        <p>Please email us or send and ask to our Cohost page. Include as much info as you can, like what you were doing that caused the bug so we can recreate it and hopefully figure out what happened.</p>
        <ul>
            <li><a title="Email us" href="mailto:dee_deyes@writelighthouse.com">Email us</a></li>
            <li><a title="Send a message on Cohost" href="https://cohost.org/writelighthouse" target="_blank">Send a message on Cohost</a></li>
            
        </ul>
    </section>
    <section id="privacy">
        <h2>Privacy</h2>
        <p>Lighthouse is a system-focused website, therefore it is a place to store data on yourself as a whole and as a system. Having said that, there are certain pieces of information that we collect and store.</p>
        <p>Lighthouse will always collect, regardless of activity:</p>
        <ul>
            <li>A username to identify your account.</li>
            <li>An email to identify your account, plus to email you should you forget your password or delete your account.</li>
            <li>Your timezone to correctly date your posts (still working on this)</li>
        </ul>
        <p>Lighthouse can collect this data, if you elect for it to do so. Participating in these activities on Lighthouse will opt you into this data being collected and stored:</p>
        <ul>
            <li>Any post you feed into the website, including post titles.</li>
            <li>Alter and system information, such as a system alias (system name), amount of alters, alter profile information.</li>
            <li>Mood data, if applicable.</li>
            <li>Information on inner worlds.</li>
            <li>Rules for your system(s).</li>
        </ul>
        <p>Lighthouse is never going to ask for demographic information to advertise to you. This is a tool our system used that is being adapted for others to use, too.</p>
        <p>When you delete your account, <em>everything</em> gets deleted. We do not store your data after you delete your account for privacy's sake and to save space on our end.</p>
    </section>
    <hr>
    <section id="credits">
        <h2>Image Credits</h2>

        <h3>Journal Skins</h3>
        
            <% journalArr.forEach((group, i)=>{ %>
                <% if (skinGroups[i] !== "Skip"){ %>
                    <h3><%- skinGroups[i] %></h3>
                    <ul class="skins">
                        <% group.forEach((item)=>{ %>
                            <li>
                                <img src="/img/<%- item.val %>.<%- item.ext %>">
                                <br>
                                <% if (skinGroups[i] == "Pride" || skinGroups[i] == "Misc. User Skins"){ %>
                                    <%- item.c %> 
                                <% } else { %>
                                    <%- (item.c).replace(/\(.*\)/, "") %> 
                                <% } %>
                                
                            </li>
                        <% }) %>
                    </ul>
                <% } %>
            <% }) %>
            <p>Want to make a journal skin? Copy this image below, decorate it to your hearts content and send it to our <a title="Our blog" href="https://lighthouse-app.tumblr.com/submit" target="_blank">Tumblr</a> or <a title="Join our Discord" href="https://discord.gg/RQcfvtmKWn" target="_blank">Discord</a>!</p>
            <img src="/img/blank_journal_transparent.png">
    </section>
</div>
<%- include ("../partials/footer.ejs") %>
    </body>
</html>
