<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body>
    <%- include ("../partials/nav.ejs") %>
    <div id="wrapper">
        <section>
            <% if (typeof splash == 'string'){  %>
                <p class="splash"><%- splash %></p>
            <% } %>
            <p><a href="/clearalter">Go back to the System page</a></p>
            <h2><%- Buffer.from(session.chosenAlter.name, 'base64').toString() %>'s Journal</h2>
            <sub>System: <%- Buffer.from(session.chosenAlter.sys_alias, 'base64').toString() %></sub>
            <form method="post">
                <h3>Create Journal Entry</h3>
                <label for="j_title">Journal title</label><br/>
                <input type="text" name="j_title" autocomplete="off"><br/>
                <label for="j_body">Journal Body</label><br/>
                <textarea name="j_body" autocomplete="off" cols="60" rows="15"></textarea><br/>
                <input type="submit" name="submit" value="Write post">
                <input type="reset" name="reset" value="Start Over">
            </form>
        </section>
        <section>
            <!--
            journalPosts: [
              {
                p_id: uuid,
                j_id: uuid,
                created_on: timestamp,
                title: AES-encrypted string,
                body: AES-encrypted string
              }
            ]
         -->
            <section>
            <% for (i in session.journalPosts) { %>
                <article>
                <h2><%= session.journalPosts[i].title %></h2>
                <p><sub>Created on/around <%= (session.journalPosts[i].created_on).toLocaleString() %></sub></p>
                <%= session.journalPosts[i].body %>
            </article>
            <% } %>
        </section>
        </section>
    </div>
    <%- include ("../partials/footer.ejs") %>
</body>

</html>
